<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8"/>
  <title><%= title %></title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= public_url %>"/>
  <meta property="og:image" content="<%= public_url %>/icon-256x.png"/>

  <link rel="icon"
        href="content/icon-256x.png"
	    sizes="256x256"
	    type="image/png"/>

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet"
        href="index.css" />

  <meta name="theme-color" content="#5834e6"/>
</head>

<body>
  <div class="z-50 fixed bottom-4 right-0 mx-4 flex flex-col-reverse items-end">
    <label class="mt-4 flex cursor-pointer items-center justify-center w-14 h-14 rounded-full bg-dodger text-white shadow-lg" for="form-toggler">
      <i class="far fa-comment-dots text-xl"></i>
    </label>
    <input id="form-toggler" type="checkbox" class="hidden" autocomplete="off" />
    <form class="overflow-hidden transition-max-h transition-spacing max-h-0 bg-white shadow-lg rounded-xl">
      <header class="my-2">Envoyez-moi un message !</header>
      <label class="block">
        <input class="w-full border border-gray-300 rounded-t-xl p-2" type="text" name="name" placeholder="Nom, Entreprise" />
      </label>
      <label class="block">
        <input class="w-full border border-gray-300 p-2" type="text" name="subject" placeholder="Sujet" />
      </label>
      <label class="block">
        <textarea class="w-full border border-gray-300 p-2 rounded-b-xl"
                placeholder="De quoi voulez-vous discuter ?"
                rows="3"
                cols="26"></textarea>
      </label>
      <button class="w-full bg-dodger text-white p-2 rounded-xl shadow-lg" type="submit">Envoyez</button>
    </form>
  </div>

  <!-- main header -->
  <header id="cv" class="bg-han lg:pt-24">
    <div class="container bg-gray-50 mx-auto p-6 rounded-t-xl">
      <div class="flex flex-col lg:flex-row">
        <div class="relative mx-auto my-auto lg:mr-4">
          <div class="inset-0 absolute bg-dodger transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 rounded-xl"></div>
          <img class="relative self-center rounded-xl max-h-72"
               src="content/anthony-tron.jpg" alt="Anthony TRON photo" />
        </div>
        <div class="lg:pl-6 lg:pt-0 pt-6">
          <h1 class="text-3xl text-gray-900 font-medium">Anthony TRON</h1>
          <h2 class="text-han font-light">Développeur React</h2>
          <p class="my-2">Étudiant en alternance chez KPC à Aix-en-Provence, je suis une formation BAC +3 de Licence Professionnelle DEVWEB à l'IUT d'Aix-en-Provence.</p>
          <a class="my-2 mr-2 shadow-lg inline-block bg-dodger text-white font-light px-3 py-1 rounded-xl"
             href="content/anthony-tron-cv.pdf">Télécharger mon CV <i class="text-sm fas fa-arrow-circle-down"></i></a>
          <label class="select-none cursor-pointer inline-block bg-white shadow-lg font-light px-3 py-1 rounded-xl"
                 for="form-toggler">Contacter <i class="text-han far fa-comment-dots"></i></label>

          <div class="mt-4 lg:grid lg:grid-cols-2">
            <ul>
<% interests.first(interests.size / 2).each do |interest| %>
              <li>
                <div class="inline-block w-24"><%= interest[:name] %></div>
                <div class="inline-block rounded-full h-1 w-<%= interest[:value] * 4 %> bg-brink"></div>
              </li>
<% end %>
            </ul>
            <ul>
<% interests[interests.size / 2..].each do |interest| %>
              <li>
                <div class="inline-block w-24"><%= interest[:name] %></div>
                <div class="inline-block rounded-full h-1 w-<%= interest[:value] * 4 %> bg-brink"></div>
              </li>
<% end %>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </header>

  <!-- main nav -->
  <nav class="top-0 bg-white sticky shadow-xl p-3 sm:p-6">
    <label for="nav-toggler" class="flex flex-row sm:hidden">
      <i class="fas fa-ellipsis-v"></i>
      <span class="text-center flex-1">Anthony TRON</span>
    </label>
    <input class="hidden" type="checkbox" id="nav-toggler" />
    <ul class="text-gray-800 overflow-hidden transition-max-h max-h-0 sm:max-h-screen container mx-auto flex flex-col sm:flex-row sm:space-x-6 text-center">
      <li>
        <a class="transition hover:text-han" href="#cv">CV</a>
      </li>
      <li>
        <a class="transition hover:text-han" href="#work">Travaux</a>
      </li>
      <li>
        <a class="transition hover:text-han" href="#experience">Parcours</a>
      </li>
      <li>
        <a class="transition hover:text-han" href="#likes">Intérêt</a>
      </li>
      <li class="w-full"></li>
      <li>
        <a class="transition hover:text-han" href="<%= gitlab_url %>" target="_blank">
          <span class="sm:hidden">GitLab</span>
          <i class="fab fa-gitlab"></i>
        </a>
      </li>
      <li>
        <a class="transition hover:text-han" href="<%= github_url %>" target="_blank">
          <span class="sm:hidden">GitHub</span>
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a class="transition hover:text-han" href="<%= linkedin_url %>" target="_blank">
          <span class="sm:hidden">LinkedIn</span>
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </nav>

  <!-- svg shape -->
  <div id="work" style="background-image: url('content/wave-01.svg')"
       class="h-48 bg-no-repeat bg-gray-100 object-cover bg-cover"></div>

  <!-- work -->
  <section class="bg-gray-100">
    <div class="container mx-auto p-6 pt-0">
      <h2 class="text-3xl font-bold mb-3">Mon travail</h2>

      <p class="my-5">
        N'hésitez pas à visiter
        <a href="<%= gitlab_url %>" target="_blank" class="text-dodger">mon compte GitLab <i class="text-xs fas fa-external-link-alt"></i></a>
        et <a href="<%= github_url %>" target="_blank" class="text-dodger">GitHub <i class="text-xs fas fa-external-link-alt"></i></a>
        pour retrouver l'intégralité de mon travail.
      </p>

      <div class="grid lg:grid-cols-2 gap-4">
<% works.each do |work| %>
        <div class="rounded-xl p-4 bg-white">
          <header class="text-lg text-gray-800 font-semibold"><%= work[:title] %> </header>
          <div class="text-sm text-dodger"><a href="<%= work[:url] %>" target="_blank">Consulter <i class="text-xs fas fa-external-link-alt"></i></a></div>
          <p class="my-2"><%= work[:description] %></p>
          <ul>
  <% work[:techs].each do |tech| %>
            <li class="bg-gray-600 text-sm text-white px-2 py-0.5 rounded-xl inline-block"><%= tech %></li>
  <% end %>
          </ul>
        </div>
<% end %>
      </div>
    </div>
  </section>

  <!-- svg shape -->
  <div id="experience" style="background-image: url('content/wave-02.svg')"
       class="h-48 bg-gray-100 bg-bottom"></div>

  <!-- studies / experience -->
  <section class="bg-gray-900">
    <div class="container mx-auto p-6">
      <div class="grid lg:grid-cols-2 gap-16">
        <!-- studies -->
        <div class="rounded-xl overflow-hidden text-gray-300">
          <header class="text-gray-100 text-2xl pb-4 font-bold">Mon parcours étudiant</header>
          <ul>
            <li class="bg-gray-800 p-4 rounded-xl">
              <header class="text-lg font-medium">Licence Professionnelle DEVWEB BAC+3</header>
              <div class="text-sm"><time datetime="2021-09-01">Septembre 2021</time> - Aujourd'hui</div>
              <div class="text-sm">Aix-en-Provence</div>
            </li>
            <li class="ml-0.5 h-8 border-l border-gray-400 border-dashed"></li>
            <li>
              <header class="text-lg">DUT Informatique BAC+2</header>
              <div class="text-sm"><time datetime="2019-09-01">Septembre 2019</time> - <time datetime="2021-07-01">Juillet 2021</time></div>
              <div class="text-sm">Aix-en-Provence</div>
            </li>
            <li class="ml-0.5 h-8 border-l border-gray-400 border-dashed"></li>
            <li>
              <header class="text-lg">BAC S Sciences de l'Ingénieur</header>
              <div class="text-sm"><time datetime="2019-09-01">Juillet 2019</time></div>
              <div class="text-sm">Aix-en-Provence</div>
            </li>
          </ul>
        </div>

        <!-- experience -->
        <div class="bg-gray-200 overflow-hidden rounded-xl text-gray-600">
          <header class="bg-gray-100 p-4 text-gray-800 text-xl font-semibold">Mon expérience professionnelle</header>
          <ul>
            <li class="py-3 pl-4">
              <header class="flex text-gray-700 font-medium"><div class="inline-block self-center rounded-full bg-brink w-2 h-2 mr-1"></div> Alternant développeur React</header>
              <div><time>Septembre 2021</time></div>
              <p>Key Performance Consulting</p>
            </li>
            <li class="py-3 pl-4 border-t border-gray-300">
              <header class="text-gray-700 font-medium">Stagiaire technicien recherche et développement</header>
              <div><time>Avril 2021</time> - <time>Juin 2021</time></div>
              <p>NIXKA</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div id="interests" style="background-image: url('content/wave-02.svg')"
       class="h-48 bg-gray-100 bg-top transform rotate-180"></div>

</body>

</html>
