<%
title = 'Anthony TRON'
public_url = 'http://anthonytron.com'
gitlab_url = 'https://gitlab.com/anthony-tron'
github_url = 'https://github.com/anthony-tron'
linkedin_url = 'https://fr.linkedin.com/in/anthony-tron'

works = [
    {
        title: 'Meseji',
        description: 'Une application de messagerie groupée instantanée en ligne.',
        url: 'http://anthonytron.alwaysdata.net',
        techs: ['Node', 'React', 'Typescript'],
    },
    {
        title: 'Vlearn',
        description: 'Un site web destiné à l\'apprentissage du Japonais par le divertissement.',
        url: 'https://anthony-tron.github.io/vlearn/guess-what.html',
        techs: ['HTML', 'JavaScript', 'CSS'],
    },
    {
        title: 'ctiff',
        description: 'Une API C++ orientée objet pour manipuler des images au format TIFF.',
        url: '#',
        techs: ['C++', 'cmake', 'libtiff', 'OpenCV'],
    },
    {
        title: 'vocsheet',
        description: 'Dans le même esprit que vlearn, vocsheet a été créé pendant le confinement pour aider les professeurs à faire des quiz de type "relier les bonnes réponses entre elles".',
        url: 'https://anthony-tron.github.io/vocsheet',
        techs: ['Bootstrap', 'JavaScript', 'HTML']
    }
]

interests = [
  {name: 'React', value: 10},
  {name: 'Express', value: 8},
  {name: 'HTML / CSS', value: 9},
  {name: 'Ruby', value: 7},
  {name: 'C++', value: 8},
  {name: 'Rust', value: 4},
  {name: 'Japonais', value: 4},
  {name: 'Java', value: 7},
  {name: 'KotLin', value: 6},
  {name: 'Python', value: 6},
]

%>
